<div >
    <app-ricerca (cambioCitta)="getDati($event)" ></app-ricerca>
    
    <h3 class="text-center" >
        <button *ngFor="let data of dateDisponibili;let i = index" 
            [ngClass]="giornoMostrato == i ? 'btn-info':'btn-primary'"
            (click)="preparaDati(i)" class="btn">
            <b>{{ data | date:"dd/MM" }} </b>
            <br>
            <span style="font-size: 2rem;text-align: center;width: 100%;">
                <i class="bi" [ngClass]="codeService.getIcon(meteoGiornaliero.weathercode[i])"></i>
            </span>
            <br>
            <span [ngStyle]="{color:codeService.getTermometro(meteoGiornaliero.temperature_2m_min[i]).colore}">
                <i class="bi" 
                    [ngClass]="codeService.getTermometro(meteoGiornaliero.temperature_2m_min[i]).icona"></i>
                {{ meteoGiornaliero.temperature_2m_min[i] }}
            </span>
            <span [ngStyle]="{color:codeService.getTermometro(meteoGiornaliero.temperature_2m_max[i]).colore}">
                <i class="bi" 
                    [ngClass]="codeService.getTermometro(meteoGiornaliero.temperature_2m_max[i]).icona"></i>
                {{ meteoGiornaliero.temperature_2m_max[i] }}
            </span>
        </button>
    </h3>
    <table *ngIf="datiTabella.length > 0" mat-table [dataSource]="datiTabella">
        <ng-container matColumnDef="ora">
            <th mat-header-cell *matHeaderCellDef>Ora</th>
            <td mat-cell *matCellDef="let dato" >
                {{ dato.time | date:'HH' }} 
            </td>
        </ng-container>

        <ng-container matColumnDef="meteo">
            <th mat-header-cell *matHeaderCellDef>
                Meteo
            </th> 
            <td mat-cell *matCellDef="let dato" >
                <i class="bi" [ngClass]="codeService.getIcon(dato.weathercode)"></i>
                {{ codeService.getDescription(dato.weathercode) }}
            </td>
        </ng-container>

        <ng-container matColumnDef="temperatura">
            <th mat-header-cell *matHeaderCellDef>
                Temperatura
            </th> 
            <td mat-cell *matCellDef="let dato" >
                <i class="bi" [ngStyle]="{color:codeService.getTermometro(dato.temperature_2m).colore}"
                    [ngClass]="codeService.getTermometro(dato.temperature_2m).icona"></i>
                {{ dato.temperature_2m }}°C
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="colonneMostrate"></tr>
        <tr mat-row *matRowDef="let row;columns :colonneMostrate"></tr>
    </table>
</div>
