html,
body {
    background-color: var(--dark);
    color: var(--secondary)
}

body {
    padding-bottom: calc(var(--altezza-footer) + 20px); /* calcolo padding in base al footer  */
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
    --primary: #457b9d;
    --secondary: #f1faee;
    --warning: #ffb703;
    --success: #4b9e1e;
    --info: #a8dadc;
    --dark: rgb(45, 45, 45);
    --altezza-footer: 50px;
}

.bg-primary {
    background-color: var(--primary) !important;
    color: var(--secondary);
}
.btn-primary{
    color: var(--secondary);
    background-color: var(--primary);
    border-color: var(--primary);
}
.btn-primary:hover{
    background-color: var(--primary);
    border-color: var(--primary);
}

.center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.posizione-1 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.posizione-2 {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.distanzia-equamente {
    display: flex;
    justify-content: space-around;
}